@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: aliceblue;
}

#title {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.box {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.frame {
    border: 2px solid black;
    height: 700px;
    width: 400px;
    border-radius: 10px;
    background-color: #50C5C7;
    box-shadow: 5px 5px #0B6263;
}
/*screen input and output */
.screen {
    border: 2px solid black;
    height: 150px;
    margin: 1rem;
    position: relative;
}

.input {
    text-align: right;
    margin-top: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
}

.output {
    bottom: 0px;
    text-align: right;
    margin-top: 2rem;
    margin-right: 1rem;
    font-size: 2rem;
}

/* clear and delete button formatting */ 
.deleteBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #50C5C7;
}

.clearBtn {
    border: 2px solid black;
    height: 3rem;
    flex-direction: column;
    text-align: center;
    flex-basis: 100%;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.clearBtn:hover {
    cursor: pointer;
    background-color: #FFC663;
}

/* digit keypad */
.keypad {
    display: flex;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #50C5C7;
}

.column {
    flex: 1;
    background-color: #50C5C7;
}

.key {
    border: 2px solid black;
    padding: 2rem;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    font-size: 20px;
}

.key:hover {
    cursor: pointer;
    background-color: #FFC663;
}

.operatorKey {
    border: 2px solid black;
    padding: 2rem;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    font-size: 20px;
}

.operatorKey:hover {
    cursor: pointer;
    background-color: #FFC663;
}